.AutoCompleteText {
    width: 250px;
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
}

.AutoCompleteText input{
    width: 250px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
}

.AutoCompleteText ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
} 

.AutoCompleteText ul::before{
    content: '';
}

.AutoCompleteText li {
    padding: 10px 5px;
}

.AutoCompleteText li:hover {
    background-color: rgba(128, 128, 128, 0.20);
}


